/*CSS*/
div.main{
	float:left;
	display: block;
	margin:auto;
	width:1200px;
	background-color: #484848;
	border-color: #999999;
	border-style: outset;
	min-height:600px;
}

div.div-band{
	float:left;
	clear:both;
	width:100%;
	min-height:16px;
}

div.controls{
	float:left;
	width:33%;
	position:relative;
	background-color: #424242;
	min-height:100px;
	text-align:center;
	vertical-align:bottom;
	margin:auto;
}

div.div-float-right{
	margin-right:8px;
	float:right;
    width:48%;
    position:relative;
	background-color: #424242; 
	border-style: inset;
}

div.div-float-left{
	margin-left:8px;
	float:left;
	width:48%;
	position:relative;
	background-color: #424242;
	border-style: inset;
}

img.imgSq{
	padding:20px;
	display : block;
    margin : auto;
	width:512px;
	text-align:center;                                                                
	height:512px;
}

input[type=button] {
	height:25px;
	width:25px;
	margin : 3px 3px 3px 3px ;
	text-align:center;
    cursor:pointer;
	vertical-align:middle;
}

.rbText{
  color: #eeeeFF;
  font-family:arial;
  font-weight: bold; 
  width:25px;
}

.valueText{
  color: #FF;
  font-family:arial;
  font-weight: bold; 
}